<%= render "shared/header" %>

<div class="notification-container">
  <%= render partial: 'shared/sidebar' %>

  <main>
    <div class="notification-wrapper">
      <label for="mypage-hamburger-menu" class="open"><i class="fas fa-list-ul"></i></label>
      <h2>お知らせ</h2>
      <% if @notifications.exists? %>
        <% @notifications.each do |notification| %>
          <div class="notification">
            <p class="date">
              <%= notification.created_at.strftime("%Y年%m月%d日 %H:%M") %>
            </p>
            <% case notification.action %>
            <% when "like" then %>
              <p class="content">
                <%= link_to "#{notification.visitor.nickname}", user_path(notification.visitor.id) %>さんが<%= link_to "あなたのチケット", ticket_path(notification.ticket_id) %>にいいねしました。
              </p>
              <hr>
            <% when "comment" then %>
              <p class="content">
                <%= link_to "#{notification.visitor.nickname}", user_path(notification.visitor.id) %>さんが<%= link_to "あなたのチケット", ticket_path(notification.ticket_id) %>にコメントしました。
              </p>
              <p class="info">
                <%= notification.comment.content %>
              </p>
              <hr>
            <% when "request" then %>
              <p class="content">
                <%= link_to "#{notification.visitor.nickname}", user_path(notification.visitor.id) %>さんから<%= link_to "あなたのチケット", ticket_path(notification.ticket_id) %>に購入希望がありました。
              </p>
              <hr>
            <% when "message" then %>
              <p class="content">
                <%= link_to "#{notification.visitor.nickname}", user_path(notification.visitor.id) %>さんからあなたに<%= link_to "メッセージ", room_path(notification.message.room.id) %>がありました。
              </p>
              <p class="info">
                <%= notification.message.content %>
              </p>
              <hr>
            <% when "purchase" then %>
              <p class="content">
                <%= link_to "#{notification.visitor.nickname}", user_path(notification.visitor.id) %>さんから<%= link_to "#{notification.ticket.event_name}のチケット", ticket_path(notification.ticket.id) %>の譲り先に選ばれました。
              </p>
              <hr>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="note">
          まだお知らせは届いていません。
        </p>
      <% end %>
    </div>
  </main>
</div>

<%= render "shared/sub_footer" %>
<%= render "shared/footer" %>
