<%= render partial: "shared/header" %>

<div class="relationship-container">
  <%= render partial: "shared/sidebar" %>

  <main>
    <div class="relationship-wrapper">
      <div class="nav nav-tabs">
        <div class="nav-item tab">
          <%= link_to "フォロー中", following_user_path(current_user.id), class: "nav-link active" %>
        </div>
        <div class="nav-item tab">
          <%= link_to "フォロワー", followers_user_path(current_user.id), class: "nav-link" %>
        </div>
      </div>

      <% @following_users.each do |following_user| %>
        <%= link_to user_path(following_user.id) do %>
          <div class="user-info">
            <%= image_tag following_user.avatar.url, alt: "フォロー中のユーザのプロフィール画像", class: "avatar" %>
            <div class="wrapper">
              <div class="user-name">
                <%= following_user.nickname %>
              </div>
              <div class="user-profile">
                <%= following_user.profile %>
              </div>
            </div>
            <%= react_component("follow-button", user: @user) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>

</div>

<%= render "shared/sub_footer" %>
<%= render "shared/footer" %>
