<%= render partial: "shared/header" %>

<div class="relationship-container">
  <%= render partial: "shared/sidebar" %>

  <main>
    <div class="relationship-wrapper">
      <div class="flex-box">
        <div class="tab">
          フォロー
        </div>
        <div class="tab">
          フォロワー
        </div>
      </div>

      <%= @following_users.each do |following_user| %>
        <%= link_to user_path(following.id) do %>
          <div class="following-user-info">
            <%= image_tag following_user.avatar.url, alt: "フォロー中のユーザのプロフィール画像", class: "avatar", size: "40" %>
            <div class="wrapper">
              <div class="following-user-name">
                <%= following_user.nickname %>
              </div>
              <div class="following-user-profile">
                <%= following_user.profile %>
              </div>
            </div>
            <%= react_component("follow-button", user: @user) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>

</div>
