<%= render "shared/header" %>

<div class="profile">
  <%= render partial: "shared/sidebar" %>
  <div class="profile-container">
    <div class="bg-image">
      <div class="user-info">
        <div id="avatar-preview">
          <%= image_tag @user.avatar.url, alt: "プロフィール画像", class: "icon", id: "edit-avatar" %>
        </div>
        <div class="inner">
          <p class="user-name">
            <%= @user.nickname %>
          </p>
          <p class="listing-number">
            出品数
            <% if @listing_tickets.blank? %>
              0
            <% else %>
              <%= @listing_tickets.count %>
            <% end %>
            件
          </p>
        </div>
      </div>
    </div>
    <div class="wrapper profile-wrapper">
      <h3 class="heading">プロフィール</h3>
      <div class="text">
        <% if @user.profile.present? %>
          <%= safe_join(@user.profile.split("\n"), tag(:br)) %>
        <% else %>
          <p class="placeholder">まだプロフィール文が投稿されていません。<br>プロフィールを編集してみましょう。</p>
        <% end %>
      </div>
      <% if user_signed_in? && @user.id === current_user.id %>
        <%= link_to "編集する", edit_user_registration_path, class: "btn btn-warning edit-btn" %>
      <% else %>
        <%= link_to "#", class: "btn btn-warning message-btn" do %>
          <i class="far fa-envelope"></i>
          メッセージを送る
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/sub_footer" %>
<%= render "shared/footer" %>
