<header class="page-header common-header">
  <h2><a href="/">Conefan</a></h2>
  <nav>
    <ul class="top-nav">
      <li><i class="fas fa-search"></i></li>
      <% if user_signed_in? %>
        <li class="bell">
          <%= link_to notifications_path do %>
            <% if unchecked_notifications.any? %>
              <i class="far fa-bell"></i>
              <i class="fas fa-circle"></i>
            <% else %>
              <i class="far fa-bell"></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to rooms_path do %>
            <i class="far fa-envelope"></i>
          <% end %>
        </li>
      <% end %>
      <li><label for="hamburger-menu" class="open"><i class="fas fa-bars"></i></label></li>
    </ul>
  </nav>
  <input type="checkbox" id="hamburger-menu" class="hamburger-menu">
    <label for="hamburger-menu" class="back"></label>
    <aside class="menu">
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to "マイページ", mypage_path %></li>
          <li><%= link_to "メッセージ", rooms_path %></li>
          <li><%= link_to "購入希望したチケット", requests_user_path(current_user.id) %></li>
          <li><%= link_to "出品したチケット", sold_tickets_user_path(current_user.id) %></li>
          <li><%= link_to "購入したチケット", buyed_tickets_user_path(current_user.id) %></li>
          <li><%= link_to "行きたい!!リスト", likes_user_path(current_user.id) %></li>
          <li><a rel="nofollow" data-method="delete" href="/logout" class="logout-button">ログアウト</a></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "ログイン", login_path %></li>
          <li>お問い合わせ</li>
        </ul>
      <% end %>
    </aside>
</header>
