<div class="sidebar">
  <div class="user-info">
    <%= image_tag current_user.avatar.url, alt: "ユーザのプロフィール画像", class: "avatar", size: "40" %>
    <div class="user-name">
      <%= current_user.nickname %>
    </div>
  </div>
  <p><%= link_to "メッセージ", rooms_path %></p>
  <p><%= link_to "お知らせ", notifications_path %></p>
  <p><%= link_to "行きたい!!を押したリスト" %></p>
  <p><%= link_to "お支払い方法" %></p>
  <p><%= link_to "配送先住所" %></p>
  <p><%= link_to "プロフィール編集", edit_user_registration_path %></p>
  <p><a rel="nofollow" data-method="delete" href="/logout" class="logout-button">ログアウト</a></p>
  <p><%= link_to "退会" %></p>
</div>
