<input type="checkbox" id="ticketlist-hamburger-menu">
<label for="ticketlist-hamburger-menu" class="back"></label>
<div class="sidebar">
    <h3 class="sub-title">並び替え</h2>
    <%= link_to "新着順", new_arrival_tickets_path %>
    <%= link_to "公演日が近い順", near_tickets_path %>
    <%= link_to "行きたい!!が多い順", trend_tickets_path %>
    <%= link_to "出品中のチケットのみ表示", on_sale_tickets_path %>
    <%= link_to "すべてを表示", tickets_path %>
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:search, "キーワードで検索") %>
      <%= text_field_tag(:search, "", {class: "form-control"}) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
