<%= render partial: "shared/header" %>

<div class="list-container">
  <%= render partial: "sidebar" %>
  <main>
    <label for="ticketlist-hamburger-menu" class="open"><i class="fas fa-list-ul"></i></label>
    <h2 class="title">チケット一覧</h2>
    <div class="cards grid">
      <% @tickets.each do |ticket|%>
        <%= link_to ticket_path(ticket.id) do %>
          <div class="item card">
            <div class="image">
              <%= image_tag ticket.thumbnail.url, class: "thumbnail card-img-top", alt: "チケットのサムネイル画像" %>
              <% if ticket.buyer_id.present? %>
                <div class="tag">Sold Out</div>
              <% end %>
              </div>
            <div class="card-body">
              <div class="flex-box">
                <h5 class="card-title">
                  <%= ticket.event_name %>
                </h5>
                <div class="like">
                  <i class="fas fa-heart"></i>
                  <%= ticket.likes.length %>
                </div>
              </div>
              <p class="date">
                <%= ticket.event_date %>
              </p>
              <p class="card-text">
                <%= ticket.description %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= will_paginate(@tickets, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "pagination justify-content-end") %>
  </main>
</div>

<%= render partial: "shared/sub_footer" %>
<%= render partial: "shared/footer" %>
