<%= render partial: "shared/header" %>

<div class="list-container">
  <div class="sidebar">
    <h3 class="sub-title">並び替え</h2>
    <%= link_to "新着順" %>
    <%= link_to "公演日が近い順" %>
    <%= link_to "行きたい!!が多い順" %>
    <%= link_to "Sold Outの非表示" %>
    <%= link_to "公演日の過ぎたチケットの非表示" %>
    <%= link_to "すべてを表示" %>
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:search, "キーワードで検索") %>
      <%= text_field_tag(:search, "", {class: "form-control"}) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <main>
    <h2 class="title">チケット一覧</h2>
    <div class="cards grid">
      <% @tickets.each do |ticket|%>
        <div class="item card">
          <%= image_tag ticket.thumbnail.url, class: "thumbnail card-img-top", alt: "チケットのサムネイル画像" %>
          <div class="card-body">
            <div class="flex-box">
              <h5 class="card-title">
                <%= ticket.event_name %>
              </h5>
              <div class="like">
                <i class="fas fa-heart"></i>
                15
                <%# <%= ticket.likes.length %>
              </div>
            </div>
            <p class="date">
              <%= ticket.event_date %>
            </p>
            <p class="card-text">
              <%= ticket.description %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>

<%= render partial: "shared/sub_footer" %>
<%= render partial: "shared/footer" %>
