<%= render partial: 'shared/header' %>

<%= form_with model: @ticket, id: :new_ticket do |f| %>
  <div class="container listing-container">
    <div class="wrapper form-group">
      <%= f.label :thumbnail, "イベントの画像(手もとにない場合は右から選択してください)" %>
      <div class="image-wrapper" id="thumbnail-wrapper">
        <i class="fas fa-camera"></i>
        <p class="caption">クリックして画像を選択</p>
      </div>
      <%= f.file_field :thumbnail, class: "image-form", id: "thumbnail-uploadButton" %>

      <%= f.label :event_name, "公演名 (選択肢にない場合は下空欄に入力してください。)" %>
      <%= f.select :event_name, Ticket.all.collect { |p| [p.event_name, p.event_name] }, { include_blank: "公演名を選択してください"}, { class: "form-control", id: "event_name-select" } %>

      <%= f.text_field :event_name, class: "form-control", id: "event_name-form", placeholder: "例) COUNT DOWN JAPAN 2021" %>
      <div class="flex-box">
        <div class="unit-1">
          <%= f.label :event_date, "公演日" %>
          <%= f.date_field :event_date, class: "form-control" %>
        </div>
        <div class="unit-2">
          <%= f.label :venue, "開催地" %>
          <%= f.text_field :venue, class: "form-control"%>
        </div>
      </div>

      <%= f.label :number_of_sheets, "枚数" %>
      <%= f.select :number_of_sheets, {"1枚": 1, "2枚": 2, "3枚": 3, "4枚": 4}, {prompt: "選択してください"}, class: "form-control" %>

      <%= f.label :sheet_type, "席種" %>
      <%= f.text_field :sheet_type, class: "form-control", placeholder: "例) 2階指定席 23列 123番" %>

      <%= f.label :shipping, "配送料の負担" %>
      <%= f.select :shipping, {"送料込み(出品者負担)": 1, "着払い(購入者負担)": 2, "配送料なし": 3}, {prompt: "選択してください"}, class: "form-control" %>

      <%= f.label :delivery_method, "受け渡し方法" %>
      <%= f.text_field :delivery_method, class: "form-control", placeholder: "例) 名古屋駅前手渡し" %>

      <hr>

      <div class="price-info">
        <h2 class="title">価格 (￥300~99,999)</h2>
        <div class="unit">
          <%= f.label :price, "販売価格" %>
          <div class="small-unit">
            <span>¥</span>
            <%= f.number_field :price, class: "form-control", max: 99999, min: 300, placeholder: 0 %>
          </div>
        </div>
        <div class="unit">
          <label>販売手数料 (5%)</label>
          <p id="sales-commition"><span>¥</span>ー</p>
        </div>
        <div class="unit">
          <label>出品者へのお礼</label>
          <p id="sales-profit"><span>¥</span>ー</p>
        </div>
      </div>

      <hr>
      <%= f.label :description, "備考" %>
      <%= f.text_area :description, rows: 5, class: "form-control" %>

      <%= button_tag "出品する", type: "submit", class: "btn btn-warning"%>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/sub_footer' %>
<%= render partial: 'shared/footer' %>
