<div class="big-bg wrapper">

  <%= render "shared/header" %>

  <div class="home-content">
    <h1>WE'LL CONNECT MUSIC FANS</h1>
    <p>あなたのチケットを本当に好きなファンの下に届けませんか？</p>
    <% if !user_signed_in? %>
      <%= link_to "ログイン", login_path, class: "btn btn-light" %>
    <% end %>
  </div>
</div>
<main class="main-content">
  <section class="new_arrival">
    <h3 class="title">
      新着チケット
    </h3>
    <div class="cards grid">
      <% @new_tickets.each do |ticket|%>
        <%= link_to ticket_path(ticket.id) do %>
          <div class="rectangle-wrapper">
            <div class="item card">
              <%= image_tag ticket.thumbnail.url, class: "thumbnail card-img-top", alt: "チケットのサムネイル画像" %>
              <div class="card-body">
                <div class="flex-box">
                  <h5 class="card-title">
                    <%= ticket.event_name %>
                  </h5>
                  <div class="like">
                    <i class="fas fa-heart"></i>
                    <%= ticket.likes.length %>
                  </div>
                </div>
                <p class="date">
                  <%= ticket.event_date %>
                </p>
                <p class="card-text">
                  <%= ticket.description %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <p class="more"><%= link_to "もっとみる", tickets_path %></p>
  </section>
  <section class="popular_ticket">
    <h3 class="title" id="popular_ticket_title">
      行きたい!!が多いチケット
    </h3>
    <div class="cards grid">
      <% @hot_tickets.each do |ticket|%>
        <%= link_to ticket_path(ticket.id) do %>
          <div class="rectangle-wrapper">
            <div class="item card">
              <%= image_tag ticket.thumbnail.url, class: "thumbnail card-img-top", alt: "チケットのサムネイル画像" %>
              <div class="card-body">
                <div class="flex-box">
                  <h5 class="card-title">
                    <%= ticket.event_name %>
                  </h5>
                  <div class="like">
                    <i class="fas fa-heart"></i>
                    <%= ticket.likes.length %>
                  </div>
                </div>
                <p class="date">
                  <%= ticket.event_date %>
                </p>
                <p class="card-text">
                  <%= ticket.description %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <p class="more"><%= link_to "もっとみる", tickets_path %></p>
  </section>
</main>

<% if user_signed_in? %>
  <%= link_to new_ticket_path, class: "listing_button" do %>
    <img src="../assets/handpointer.png" alt="出品ボタン">
    <h3>出品する</h3>
  <% end %>
<% end %>

<%= render partial: 'shared/sub_footer' %>
<%= render partial: 'shared/footer' %>
