<div class="big-bg wrapper">

  <%= render "shared/header" %>

  <div class="home-content">
    <h1>WE'LL CONNECT MUSIC FANS</h1>
    <p>あなたのチケットを本当に好きなファンの下に届けませんか？</p>
    <% if !user_signed_in? %>
      <%= link_to "ログイン", login_path, class: "btn btn-light" %>
    <% end %>
  </div>
</div>
<main class="main-content">
  <section>
    <h3 class="title">
      行きたい!!が多いチケット
    </h3>
    <div class="wrapper">
      <div class="item">
        <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
        <div class="info">
          <h4 class="heading">
            YON FES 2021
          </h4>
          <p class="date">
            2021年4月4日
          </p>
          <p class="text">
            仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
          </p>
        </div>
      </div>
      <div class="item">
        <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
        <div class="info">
          <h4 class="heading">
            YON FES 2021
          </h4>
          <p class="date">
            2021年4月4日
          </p>
          <p class="text">
            仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
          </p>
        </div>
      </div>
      <div class="item">
        <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
        <div class="info">
          <h4 class="heading">
            YON FES 2021
          </h4>
          <p class="date">
            2021年4月4日
          </p>
          <p class="text">
            仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
          </p>
        </div>
      </div>
      <div class="item">
        <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
        <div class="info">
          <h4 class="heading">
            YON FES 2021
          </h4>
          <p class="date">
            2021年4月4日
          </p>
          <p class="text">
            仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
          </p>
        </div>
      </div>
    </div>
    <p class="more"><a href="#">もっとみる</a></p>
  </section>
  <section>
    <h3 class="title">
      新着チケット
    </h3>
      <div class="wrapper">
        <div class="item">
          <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
          <div class="info">
            <h4 class="heading">
              YON FES 2021
            </h4>
            <p class="date">
              2021年4月4日
            </p>
            <p class="text">
              仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
            </p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
          <div class="info">
            <h4 class="heading">
              YON FES 2021
            </h4>
            <p class="date">
              2021年4月4日
            </p>
            <p class="text">
              仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
            </p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
          <div class="info">
            <h4 class="heading">
              YON FES 2021
            </h4>
            <p class="date">
              2021年4月4日
            </p>
            <p class="text">
              仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
            </p>
          </div>
        </div>
        <div class="item">
          <img src="../assets/thumbnails.jpeg" alt="イベントの写真">
          <div class="info">
            <h4 class="heading">
              YON FES 2021
            </h4>
            <p class="date">
              2021年4月4日
            </p>
            <p class="text">
              仕事が入ってしまいました（泣）どなたか代わりに楽しんでください😄
            </p>
          </div>
        </div>
      </div>
      <p class="more"><a href="#">もっとみる</a></p>
  </section>
</main>

<% if user_signed_in? %>
  <%= link_to new_ticket_path, class: "listing_button" do %>
    <img src="../assets/handpointer.png" alt="出品ボタン">
    <h3>出品する</h3>
  <% end %>
<% end %>

<%= render partial: 'shared/sub_footer' %>
<%= render partial: 'shared/footer' %>
