<%= render "shared/header" %>
<div class="message-container">
  <div class="side-bar">
    <% @my_rooms.each do |my_room| %>
      <% @users.each do |user| %>
        <div class="user-info">
          <%= image_tag user.avatar.url, alt: "ユーザのプロフィール画像", class: "avatar", size: "40" %>
          <div class="wrapper">
            <div class="user-name">
              <%= user.nickname %>
            </div>
            <div class="last-message">
              <%# ルームでした最後のメッセージが表示される必要がある。 %>
              <%= my_room.messages.order(created_at: :desc).take.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <main>
    <div class="partner">
      <%= @partner[0].user.nickname %>
    </div>
    <div class="message-wrapper form-group">
      <div id="messages" data-room_id="<%= @room.id %>">
        <%= render @messages %>
      </div>
      <div class="message-form">
        <i class="fas fa-image"></i>
        <%= text_field_tag :content, nil, data: {behavior: 'form_data'}, class: "form-control" %>
        <i class="far fa-paper-plane" data-behavior="room_speaker"></i>
      </div>
    </div>

  </main>
</div>

<%= render "shared/sub_footer" %>
<%= render "shared/footer" %>
