<%= render "shared/header" %>
<div class="message-container">
  <%= render partial: "sidebar" %>
  <main>
    <div class="partner">
      <%= @user[0].nickname %>
    </div>
    <div class="message-wrapper form-group">
      <div id="messages" data-room_id="<%= @room.id %>">
        <%= render @messages.sort %>
      </div>
      <%= will_paginate(@messages) %>
      <div class="message-form">
        <i class="fas fa-image"></i>
        <%= text_field_tag :content, nil, data: {behavior: 'form_data'}, class: "form-control" %>
        <i class="far fa-paper-plane" data-behavior="room_speaker"></i>
      </div>
    </div>

  </main>
</div>

<%= render "shared/sub_footer" %>
<%= render "shared/footer" %>
