<%= render partial: 'shared/header' %>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2 class="heading">新規会員登録</h2>
    <div class="wrapper form-group">
      <%= devise_error_messages! %>
      <% if flash[:alert] %>
        <div class="error_messages">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "#{key} alert-danger" %>
          <% end %>
        </div>
      <% end %>


      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname, class: "form-control", autofocus: true %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "新規登録", class: "btn btn-light", id: "registration-btn" %>
      <p class="note">アカウント登録せず機能を試したい方はこちら</p>
      <button class="btn btn-success">
        かんたんログイン
      </button>
    </div>
    <h3 class="lead">ログインはこちらから</h3>
    <%= link_to "ログイン", login_path, class: "btn btn-light", id: "big-login-btn" %>
  <% end %>
</div>

<%= render partial: 'shared/sub_footer' %>
<%= render partial: 'shared/footer' %>
